extends _header.pug

block content

  .container.mt-4.d-flex.justify-content-center
    .row.row-cols-1.row-cols-md-4.g-4
      +adminCard("View Questions", "Dashboard/Questions", "fa-question")
      +adminCard("View Question Sets", "Dashboard/sets", "fa-list-alt")
      +adminCard("Add Question Set", "Dashboard/create/set", "fa-plus")

mixin adminCard(title, href, iconClass)
  .col
    .card.h-100
      .card-body.d-flex.flex-column.justify-content-center.align-items-center
        i.fas(class=iconClass).mb-2
        a.btn.btn-primary(href=href) #{title}
