extends ./Admin/_header.pug

block content   

    .container
        img(src="/imgs/401-Error-Unauthorized.png", alt="Error image" class="img-fluid w-25")
        h1.text-danger #{status}
        h3 #{message}