extends header.pug

block content
    .container-lg
        .row.row-cols-md-3.row-cols-xs-2
            each mod in eduMod
                .col.mb-3
                    a.card(href=`./${mod.name}/`)
                        img.card-img-top(src=`${mod.image}` alt=`${mod.name}`  loading="lazy")
                        .card-body.text-center
                            p.card-text #{mod.name} 
