@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  font-family: "Poppins", sans-serif;
  --color1: #fff;
  --color2: #181818;
}

#bg {
  z-index: -1;
  background: url("../imgs/background.jpg");
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* .nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: transparent !important;
  padding: 12px 20px;
}
.logo img {
  width: 200px;
  flex: 0 0 auto;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-left: 20vw;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}
@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .container {
    margin: 10px;
    padding: 0;
  } 
}*/
.card {
  text-decoration: none;
  transition: all 0.2s;
  width: 18rem;
  height: 18rem;
  margin: 30px;
}
.card:hover {
  filter: brightness(0.8);
  scale: 1.09;
  cursor: pointer;
  transition: all 0.2s;
}
.card > img {
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

body {
  overflow-x: hidden;
}

.container > .btn {
  background: no-repeat center linear-gradient(to left, #c29ea8, #746fed);
  width: 40vw;
}

#container > * {
  margin: 15px;
}
.btn__image {
  color: white;
  text-decoration: none;
  width: 100px;
  height: 100px;
}
.btn__image > i {
  font-size: 2em;
  color: #000;
}
.btn__image > span {
  font-size: 2em;
  -webkit-text-stroke: 1px #000;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.answer {
  color: red !important;
}
.hidden {
  filter: opacity(0) !important;
}

input[type="radio"] {
  display: none;
}

/* Style the label to look like a button */
label.btn-radio {
  display: inline-block;
  padding: 9px 34px 9px 2px;
  margin: 5px;
  border: 2px solid #007bff;
  border-radius: 50px;
  background-color: #007bff;
  font-size: x-small;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Change the background color and text color when the radio button is checked */
input[type="radio"]:checked + label.btn-radio {
  background-color: white;
  color: #007bff;
}

.horizontal-scroll {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of child elements */
}
#question {
  width: 75%;
}
@media (max-width: 768px) {
  #question {
    font-size: small;
    width: 90%;
  }
  label.btn-radio {
    display: inline-block;
    padding: 6px 30px 6px 4px;
    margin: 5px;
    border: 2px solid #007bff;
    background-color: #007bff;
    font-size: 9pt;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
}
.answers::before {
  content: counter(answer-counter, upper-alpha) "- "; /* Use counter function for A, B, C, D */
  padding-left: 10px;
  counter-increment: answer-counter; /* Increment counter for each element */
}
.answer-container {
  counter-reset: answer-counter; /* Initialize the counter */
}
/* Hide the default checkbox */
#show-hide-icon {
  display: none;
}

/* Style the label to display the icon */
#show-hide-icon + label {
  cursor: pointer;
}

/* Base styles for the label to position the icon */
#show-hide-icon + label {
  position: relative;
  display: inline-block;
  width: 2em; /* Adjust width as needed */
  height: 2em; /* Adjust height as needed */
  font-size: 2.5em; /* Adjust font size as needed */
}

/* General styles for the label's before pseudo-element */
#show-hide-icon + label::before {
  content: "\F340"; /* Default icon for unchecked state */
  font-family: "bootstrap-icons"; /* Bootstrap Icons font family */
  position: absolute;
  top: 0;
  left: 0;
}

/* When the input is checked */
#show-hide-icon:checked + label::before {
  content: "\F341"; /* Icon for checked state */
  font-family: "bootstrap-icons"; /* Bootstrap Icons font family */
}
#loaderContainer {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
}
